/* ********** overview section ********* */
/* overview conatainer */
.OverView_Section {
  display: flex;
  background: #fcfafa;
}

/* overview images icon */
.OverView_Section .overview_first_sec img {
  width: 85px;
}

/* overview two section */
.overview_first_sec,
.overview_second_sec {
  flex-basis: 50%;
  padding: 10px 0px;
}

.overview_first_sec h2 {
  text-align: left;
  margin-left: 100px;
  font-size: 25px;
  color: #ff0059;
}

.overview_first_sec .tmt_overview {
  padding: 10px 80px;
  display: flex;
  align-items: center;
}

.tmt_overview h2 {
  margin: 0px 50px;
  align-items: center;
  color: #00767c;
  font-size: 18px;
  font-weight: bold;
}

.overview_second_sec {
  flex-basis: 50%;
  margin: 40px 50px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* ********* */
/* mobile view of overview section */
@media screen and (max-width: 500px) {
  .OverView_Section {
    flex-wrap: wrap;
  }

  .tmt_overview {
    padding: 10px 10px !important;
  }

  .tmt_overview h2 {
    margin: 0px 30px !important;
  }

  .overview_second_sec {
    flex-basis: 100% !important;
    margin: 20px 20px !important;
  }

  .overview_first_sec h2 {
    text-align: center;
    margin-left: 100px;
  }
}



/* *****tab view***** */
@media screen and (max-width: 800px) {
  .OverView_Section {
    flex-wrap: wrap;
  }

  .overview_first_sec {
    margin: auto;
    flex-basis: 100%;
  }

  .overview_first_sec h2 {
    text-align: center;
    font-size: 20px;
    margin: auto;
  }

  .overview_second_sec {
    margin: auto;
    flex-basis: 100%;
  }
}

.overview_second_sec p {
  font-size: 10px;
  margin: 50px 20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}


/* desktop view */
/* ************ second banner ***************** */

.home_second_banner p,
.overview_second_sec p {
  color: #ffffff;
  text-shadow: 0px 2px 4px #240a0a;
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  /* background: rgba(151, 142, 142, 0.25); */
}

/* ***************************************** */
/* first video banner */
.first_video_banner {
  position: relative;
}

.first_video_banner video {
  width: 100%;
  height: 300px;
  margin: 20px 0px;
}

.first_video_banner p {
  position: absolute;
  top: 60px;
  left: 30px;
  right: 30px;
  color: #ffffff;
  text-shadow: 0px 2px 4px #240a0a;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}


@media screen and (max-width: 500px) {
  .first_video_banner video {
    height: 450px;
  }

  .first_video_banner p {
    font-size: 17px !important;
  }
}

/*  */

/* ************** Product Section ****************** */
.Product_section {
  padding: 10px 0px;
  text-align: center;
  justify-items: center;
  background: #ffffff;
}

.Product_section h2 {
  padding: 0px 80px;
  text-align: left;
  font-size: 25px;
  color: #0b6d8e;
}

@media screen and (max-width: 500px) {
  .Product_section h2 {
    text-align: center;
  }
}

.Product_section .home_product {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex-wrap: wrap;*/
  /* align-items: center;  */
  text-align: center;
  justify-items: center;
  border-radius: 10px 10px 10px 0px;
}

@media screen and (max-width: 600px) {
  .Product_section .prod_card {
    max-width: 150px;
    margin: 20px 10px !important;
  }
}

@media screen and (max-width: 780px) {
  .Product_section .home_product {
    padding: 20px 0px;
    grid-template-columns: repeat(2, 1fr);
  }

  .Product_section .prod_card {
    margin: 20px 10px !important;
  }

  .prod_card_design {
    height: 100%;
    max-height: 60px !important;
  }

  .Product_section .prod_card_design p {
    font-size: 18px;
  }
}

/* ********* Desktop ********** */

.home_product img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}

@media screen and (max-width: 500px) {
  .home_product img {
    max-height: 160px;
  }
}

.Product_section .prod_card {
  display: flex;
  flex-direction: column;
  width: 90%;
  width: 250px;
  height: 100%;
  max-height: 300px;
  margin: 20px 0px;
  justify-content: center;
  transition: 1.5s;
}

.Product_section .prod_card:hover {
  transform: scale(1.12);
}

.prod_card_design {
  max-height: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0px 0px 10px 10px;
}

.prod_card_design p {
  font-size: 19px;
  font-weight: 600;
  color: #fffafa;
}

/* ***************** why Choose Us section ******************* */
/* Project card container */
.ProjCard_Section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px;
}

@media screen and (max-width: 500px) {
  .ProjCard_Section {
    margin: 5px 5px;
    flex-wrap: wrap;
  }

  .Choose_Card {
    width: 90%;
    max-height: 210px;
    max-width: 150px;
    margin: 20px 10px !important;
    padding: 10px 0px !important;
  }
}

@media screen and (max-width: 800px) {
  .ProjCard_Section {
    margin: 10px 10px;
    flex-wrap: wrap;
  }
}

.Choose_Card {
  width: 170px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* -webkit-transition: all 2s ease;
    transition: all 2s ease; */
  margin: 10px 30px;
  padding: 10px 10px;
  cursor: pointer;
  background: #006b71;
  transition: 1s;
}

.Choose_Card:hover {
  transform: scale(1.15);
  /* transition: .5s ease-in-out; */
}

@media screen and (max-width: 500px) {
  .Choose_Card:hover {
    /* height: 100%;
        max-height: 320px; */
  }

  .Choose_Card img {
    width: 90%;
    max-width: 100px !important;
  }

  .Choose_Card p {
    font-size: 15px;
  }
}

.Choose_Card img {
  width: 100%;
  max-width: 110px;
}

.Choose_Card p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

/* ************************ Video ************************* */
/* video banner */
.video_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}

@media screen and (max-width: 500px) {
  .video_banner {
  }
}

.video_banner a {
  color: #ffffff;
}

.video_banner .bx {
  margin: auto;
  font-size: 50px;
}

/* *********** Video second banner *********** */
/* first video banner */
.second_video_banner {
  position: relative;
}

.second_video_banner video {
  width: 100%;
  height: 450px;
  margin: 20px 0px;
}

/* ************************* Map Section ************************** */
.Map_Section {
  margin: 10px 20px 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
}

@media screen and (max-width: 500px) {
  .Map_Section {
    margin: 10px 10px 20px 10px;
    max-height: 200px;
  }
}
